<p id="notice"><%= notice %></p>

<h1>Disbursements</h1>

<table>
  <thead>
    <tr>
      <th>Merchant</th>
      <th>Fee</th>
      <th>Calculated at</th>
      <th>Calculated since</th>
      <th>Calculated to</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @disbursements.each do |disbursement| %>
      <tr>
        <td><%= disbursement.merchant_id %></td>
        <td><%= disbursement.fee %></td>
        <td><%= disbursement.calculated_at %></td>
        <td><%= disbursement.calculated_since %></td>
        <td><%= disbursement.calculated_to %></td>
        <td><%= link_to 'Show', disbursement_path(disbursement) %></td>
        <td><%= link_to 'Edit', edit_disbursement_path(disbursement) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Disbursement', new_disbursement_path %>
